.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header{
  background-image: url('../Assets/Hero-bg.png');
}


.raleway-normaler {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*nav styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

.btn-primary{
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  padding: 12px 36px;
  border-radius: 5px;

}

.nav-title{
    font-weight: bold;
    font-size: 34px;
    color: #4E47FF;
}
nav ul li{
  list-style: none;
}
nav ul{
  display: flex;
}

.banner-title{
  font-weight: bold;
  font-size: 65px;
  color: #252432;
  margin: 309px 267.5px 37px 267.5px;
  text-align: center;
}

/*banner style*/
.banner{
  margin: 0 35px 0 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title-btn{
  margin-bottom: 309px;
}

/*about section*/

.section-title{
  font-size: 42px;
  font-weight: bold;
  color: #252432;

}
.section-description{
  font-size: 24px;
  color: #252432;
  
}

.primary{
  color: #4E47FF;
}

 main style 
main{
  max-width: 1140px;
  margin: 0 auto;
  
}
section ul li{
  list-style: none;
  justify-content: space-between;
  
}
section ul{
  display: flex;
  justify-content: space-between;
}
.about{
  margin-top: 83px;
  margin-left: 141px;
  margin-right: 159px;
  justify-content: space-between
  
}

/*status section*/
.stats-section {
  text-align: center;
  padding: 50px 142px;
  background-color: #eef2ff;
  border-radius: 40px;
}


.stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 116px;
  padding: 50px 142px;

}

.stats div h2 {
  color: #4E47FF;
  font-size: 80px;
}

.stats div p {
  color: #252432;
}